@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Tokyo+Zoo&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#logo {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 100px;
    line-height: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#buttons_container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#slider_container input {
    width: 300px;
}

#slider_container p {
    margin: 0;
}

#grid_container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 20px;
    padding: 0;
    display: grid;
}

#grid_container div {
    /* position: relative; */
    background: white;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
