@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Tokyo+Zoo&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#logo {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 144px;
    line-height: 0;
}

#grid_container {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0;
    display: grid;
}

#grid_container div {
    /* position: relative; */
    background: white;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
